## PHP ini overrides
php_value auto_prepend_file "C:/xampp/htdocs/mdb/Src/Config/common.php"
php_value max_execution_time 600
php_value post_max_size 1024M 
php_value upload_max_filesize 1024M 
php_value max_execution_time 3600
php_value max_input_time 3600 
php_value memory_limit 1024M 

## Error page redirect
ErrorDocument 403 /mdb/View/Errors/page_403.php
ErrorDocument 404 /mdb/View/Errors/page_404.php
ErrorDocument 500 /mdb/View/Errors/page_500.php

## 
<Files .htaccess>
	order allow,deny
	deny from all
</Files>

## Geen directory listing. Indien index.php
## niet gevonden wordt ga naar /mdb/View/index.php
DirectoryIndex index.php /mdb/View/

## Deny access to extension .map files
<Files ~ "\.map$">
	Order allow,deny
	Deny from all
	Satisfy all
</Files>

<Files ~ "\.ini$">
    Order allow,deny
    Deny from all
 </Files>
 
RedirectMatch 403 ^/src/.*$
